body{
	background: #111;
	height:100%;
	margin:0;
	padding:0;
	font-family:Helvetica,arial;
	font-size:14px;
	
}
#container{
	margin-top:0;
}
#container canvas{
	z-index:-1;
	
}
#title{
	width:100%;
	height:50px;
}

#title h1{
	text-align:center;
	color:#eee;
	text-shadow:1px 1px 1px #000;
	padding:0;
	margin:0;
}

.container-controls{
	padding:10px;
	background-color:#333;
	width:130px;
	height:230px;
	
}
#legend{
	width:780px;
	height:40px;
	position:absolute;
	top:30px;
	left:30px;
}
#legend a{
	padding:5px;
	color:#eee;
	text-shadow:2px 1px 1px #555;
	border-radius:4px;
	text-align:center;
	text-decoration:none;
	font-size: 1.3em;
	
}

#legend ul{
	list-style:none;
	padding:0;
	margin:0;
	width:inherit;
	
}

#legend li{
	height:30px;
	margin:5px;
	display:inline;
}

#info{
	width:300px;
	position:absolute;
	bottom:30px;
	left:30px;
	color:#eee;
}

#info h2,p{
	padding:0;
	margin:0;
}

#info img{
	margin-top:10px;
}

#info a{
	color:#66CC00;
	text-decoration:none;
	
}

.gr1{
	background-color:#333;
}
.gr4{
	background-color:#66CC00;
}

.gr5{
	background-color:#FFFF00;
}

.gr6{
	background-color:#FF6600;
}

.gr7{
	background-color:#FF3300;
}

.gr8{
	background-color:#FF0000;
}

.gr9{
	background-color:#330033;
	
}



